body{
    background-image: url("https://wallpaperscraft.com/image/sun_light_decline_circle_wires_evening_60294_3008x2000.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.formulaire{
    padding-top: 300px;
}
.playlist{
    padding-bottom: 200px;
}